.container {
  padding: 0 $paddings-mobile;

  @media #{$tablet} {
    padding: 0 40px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 80px;
  }
}
